.sedan-regular {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
}

.sedan-regular-italic {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: italic;
}

.concert-one-regular {
    font-family: "Concert One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

html {
    background-color: rgb(250, 230, 250);
    background-attachment: fixed;
    height: 100%;
}

body,
div,
header,
img {
    margin: 0;
    padding: 0;
}

.header nav {
    position: absolute;
    bottom: 0%;
    right: 0;
    z-index: 1;
    margin-top: 0;
    width: 100%;
}

.header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 60, 184);
    height: 5%;
}

.header nav #home {
    margin-left: 2.5%;
}

.header nav #chatbot {
    margin-right: 2.5%;
}

.header nav a {
    font-family: "Concert One", sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    margin-top: 0%;
}

.header nav a:hover {
    color: rgb(255, 189, 227);
    text-decoration: wavy;
}

.banner {
    width: 100%;
    /*Esto hará que la imagen abarque el 100% del ancho de la pantalla */
    height: auto;
    /*Esto mantendrá la relación de aspecto de la imagen */
    position: relative;
    margin: 0 auto;
    margin-bottom: 0%;
}

/* ---- Quote settings ---- */

main {
    margin-top: 5%;
    padding: 0;
    position: relative;
}

.quote h1 {
    /* Font settings and its background */
    font-family: "Sedan", serif;
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: rgb(255, 60, 184);
    /* ovalo behind it*/
    border-radius: 5cm;
    background-color: white;
    width: 80%;
    margin-left: 10%;
    padding: 2%;
}

.meetRegina {
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 2%;
    width: 40%;
    height: 25vh;
    margin: 1% auto;
    margin-left: 3%;
    border-radius: 1cm;
    background-color: white;
    padding: 1%;
}

.meetRegina .text-container {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    width: 100%; 
}

.meetRegina .text-container h2 {
    font-family: "Concert One", sans-serif;
    font-size: 80px;
    color: black;
    margin-top: -15%;
    text-align: center;
}

.meetRegina .text-container p {
    font-family: "Satisfy", cursive;
    font-size: 80px;
    font-weight: bolder;
    color: rgb(255, 60, 184);
    margin-left: 0; /* Cambia esto de -50% a 0 */
    margin-top: 2%;
    text-align: center;
}

/* Ajusta la posición de nav para pantallas más grandes */
@media screen and (max-width: 768px) {
    .header nav {
        top: 2%;
        /* Ajusta este valor según sea necesario */
    }

    .header nav #chatbot {
        margin-left: 300px;
        /* Ajusta estos valores según sea necesario */
    }
}

/* Monitor Screen */
@media screen and (min-width: 1200px) {
    .header nav {
        top: 15.7%;
        /* Ajusta este valor según sea necesario */
    }

}

/* Andrea Lap Screen */
@media screen and (max-width: 1360px) {
    .header nav {
        top: 16%;
        /* Ajusta este valor según sea necesario */
    }
}

@media screen and (max-width: 480px) {
    .header nav {
        top: 5%;
        /* Ajusta este valor según sea necesario */
    }

    .header nav a {
        font-size: 25px;
    }

    .header nav #chatbot {
        margin-left: 50px;
        margin-right: 20px;
        /* Ajusta estos valores según sea necesario */
    }

    .header nav li#home {
        margin-right: 10px;
    }

    /* Agregar logo png para banner en movil*/
    .banner {
        width: 250%;
    }
}